<!-- Piwik
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//0.0.0.0/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//0.0.0.0/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
End Piwik Code -->

{% extends CMS_TEMPLATE %}

{% block extend_breadcrumb %}
    {{ block.super }}
    {% block newsblog_breadcrumb %}{% endblock newsblog_breadcrumb %}
{% endblock extend_breadcrumb %}

{% block content %}{% endblock content %}
{% load analytical %}
{% load piwik %}

{% piwik %}
